VPN_PORT=12345
VPN_SUBNET=10.8.0.0/24
VPN_SERVER_IP=10.8.0.1
VPN_INTERFACE=wg0

MONGO_ROOT_USERNAME=vpnadmin
MONGO_ROOT_PASSWORD=CHANGE_ME_STRONG_PASSWORD

API_PORT=8080
VPN_PUBLIC_ENDPOINT=YOUR_PUBLIC_IP_OR_DNS
